################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/uJVM
/TRM.rar
/TRM
/ThingsBoardManager
/ThingsBoardDotNet
/ot-nrf528xx
/OpenThreadDotNet
/nf-Community-Contributions
/nanoFrameworkFirmwares
/nanoFramework-Samples
*.Net
*.zip
*.Device
*.rar
*.CoAP
/CoAPDotNet
/BerlinerManager
